.socials {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  .social {
    width: 24px;
    height: 24px;
    display: inline-block;
    text-decoration: none;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    &:hover {
      opacity: .7;
    }
    &.tw {
      background-image: url(../../../assets/images/common/socials/twitter-icon.svg);
    }
    &.reddit {
      background-image: url(../../../assets/images/common/socials/reddit-icon.svg);
    }
    &.discord {
      background-image: url(../../../assets/images/common/socials/discord-icon.svg);
    }
    
    &:nth-child(n+2) {
      margin-left: 36px;
    }
  }
}