@import "./src/assets/styles/basic/variables";

.header__side__btn {
  height: 56px;
  margin-right: 24px;
  cursor: pointer;
  
  .btn__label {
    display: inline-block;
    padding: 0 32px;
    color: #FFFFFF;
    border-radius: 8px;
    font: 400 24px/56px $basic_font_family;
    background-color: var(--secondary_color);
  }
  
  &:hover,
  &.active {
    .btn__label {
      background-color: var(--active_el_color);
    }
  }
}

.header__side__btn__popper {
  margin-top: 5px;
  padding: 24px 16px 20px;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--secondary_color);
  z-index: 10;
  
  .tooltip {
    display: flex;
    flex-direction: column;
    
    .tooltip--item {
      text-decoration: none;
      cursor: pointer;
      
      &.token {
        &:nth-child(n+3) {
          margin-top: 5px;
        }
      }
      
      &:hover {
        span {
          color: var(--active_el_color);
        }
      }
      
      span {
        text-align: center;
        color: var(--header_side_menu_color);
        font: 400 16px/20px $basic_font_family;
      }
    }
    
    .add--tokens {
      display: flex;
      flex-direction: column;
      
      .add--tokens--title {
        margin: 12px 0;
        padding: 14px 0;
        text-align: center;
        position: relative;
        color: var(--header_side_menu_color);
        font: 400 16px/20px $basic_font_family;
        
        &::before,
        &::after {
          left: 0;
          width: 100%;
          height: 1px;
          content: '';
          position: absolute;
          background-color: var(--header_side_menu_divider_color);
        }
  
        &::before {
          top: 0;
        }
        &::after {
          bottom: 0;
        }
      }
    }
  }
}