@import "./src/assets/styles/basic/variables";

.bond.page {
  .tab__content.redeem {
    .tab__inner {
      .action__btn {
        width: 254px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        &.claim--autostake {
          display: inline-flex;
          margin-top: 16px;
          color: #808080;
          font-weight: 400;
          font-size: 14px;
          border: 1px solid #808080;
          border-radius: 20px;
          align-items: center;
          justify-content: center;
          filter: drop-shadow(-10px -10px 30px #FFFFFF) drop-shadow(10px 10px 40px rgba(201, 208, 225, 0.7));
          cursor: pointer;
          &:hover {
            color: $brand_color;
            border-color: $brand_color;
          }
        }
      }
    }
  }
}