@import "./src/assets/styles/basic/variables";

.button--connect {
  width: 160px;
  height: 40px;
  display: inline-flex;
  border-radius: 20px;
  margin-left: 30px;
  border: 1px solid transparent;
  align-items: center;
  justify-content: center;
  background-color: $brand_color;
  cursor: pointer;
  &.error {
    color: rgb(255, 67, 67);
    background-color: rgb(255, 67, 67);
    border-color: rgb(255, 67, 67);
  }
  &:not(.error) {
    &:hover,
    &.active {
      border-color: $brand_color;
      background-color: transparent;

      span {
        color: $brand_color;
      }
    }
  }
  
  &__progress {
    margin-left: 10px;
    margin-top: 4px;
  }
  
  span {
    display: inline-block;
    color: #ffffff;
    font: 400 14px/16px $basic_font_family;
  }
}