@import "./src/assets/styles/basic/variables";

.header__network__btn {
  min-width: 150px;
  display: inline-flex;
  margin-left: 15px;
  align-items: center;
  justify-content: flex-end;
  .btn__label {
    height: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    .text {
      display: inline-flex;
      color: #5A5A5C;
      align-items: center;
      justify-content: space-between;
      font: 400 12px/14px $basic_font_family;
      &::after {
        width: 25px;
        height: 20px;
        display: inline-flex;
        content: '';
        align-items: center;
        justify-content: center;
        transform-origin: center;
        font: 400 24px/1 $basic_font_family;
        transition: transform .15s ease-in-out;
        background: url(../../../../../assets/images/common/header/network-arrow.svg) 50% no-repeat;
        background-size: cover;
      }
    }
    .network--icon {
      width: 50px;
      height: 50px;
      display: inline-block;
      margin-left: 17px;
      background: #F2F3F7;
      box-shadow: inset -3px -3px 5px rgba(255, 255, 255, 0.5), inset 3px 3px 5px rgba(201, 208, 225, 0.5);
      border-radius: 15px;
      cursor: pointer;
    }
  }
  &.active {
    .btn__label {
      .text {
        &::after {
          margin-top: 2px;
          transform: rotate(180deg);
        }
      }
    }
  }
}
.network__item {
  width: 50px;
  height: 50px;
  display: inline-flex;
  border-radius: 15px;
  background: #F2F3F7;
  align-items: center;
  justify-content: center;
  box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 40px rgba(201, 208, 225, 0.7);
  cursor: pointer;
  &::before {
    display: inline-block;
    content: '';
    mask-repeat: no-repeat;
    mask-position: 50%;
  }
  &.current {
    margin-left: 17px;
    &::before {
      background-color: $brand_color;
    }
  }
  &:not(.current) {
    &:nth-child(n+2) {
      margin-top: 8px;
    }
    &::before {
      background-color: #C1C2C7;
    }
    &:hover,
    &.active {
      background: $brand_color;
      &::before {
        background-color: #ffffff;
      }
    }
  }
  &.ETH {
    &::before {
      width: 14px;
      height: 20px;
      mask-image: url(../../../../../assets/images/common/networks/eth_mainnet.svg);
    }
  }
  &.FTM {
    &::before {
      width: 14px;
      height: 19px;
      mask-image: url(../../../../../assets/images/common/networks/fantom.svg);
    }
  }
  &.BNB {
    &::before {
      width: 20px;
      height: 20px;
      mask-image: url(../../../../../assets/images/common/networks/binance.svg);
    }
  }
  &.MATIC {
    &::before {
      width: 19px;
      height: 17px;
      mask-image: url(../../../../../assets/images/common/networks/polygon_MATIC.svg);
    }
  }
}
.header__network__btn__popper {
  top: 25px !important;
  left: 50px !important;
  width: 50px;
  //margin-top: 8px;
  z-index: 9;
}
