@import "./src/assets/styles/basic/variables";

.bond.page {
  width: 100%;
  .bond {
    &__wrapper {
      width: 100%;
      .tab {
        &__content {
          margin-top: 30px;
        }
        &__inner {
          display: flex;
          align-items: stretch;
          justify-content: space-between;
          .form--card {
            width: 100%;
            max-width: 445px;
            &__inner {
              display: flex;
              padding: 47px 64px 42px;
              flex-direction: column;
              align-items: center;
            }
          }
        }
      }
    }
  }
}