@import "./src/assets/styles/basic/variables";

.bond.page {
  width: 100%;
  .bond {
    &__wrapper {
      width: 100%;
      .tab {
        &__content {
          @include desktop {
            margin-top: 30px;
          }
          @include noDesktop {
            margin-top: 16px;
          }
        }
        &__inner {
          display: flex;
          @include desktop {
            align-items: stretch;
            justify-content: space-between;
          }
          @include noDesktop {
            flex-direction: column-reverse;
          }
          .form--card {
            width: 100%;
            @include desktop {
              max-width: 445px;
            }
            &__inner {
              display: flex;
              flex-direction: column;
              align-items: center;
              @include desktop {
                padding: 47px 64px 42px;
              }
              @include noDesktop {
                padding: 24px;
              }
            }
          }
        }
      }
    }
  }
}