@import "./src/assets/styles/basic/variables";

.bond.page {
  .metrics {
    @include desktop {
      margin-top: 30px;
      padding: 25px;
    }
    @include noDesktop {
      margin-top: 10px;
      padding: 24px;
      flex-direction: column;
    }
    &__card {
      flex: 1;
      display: inline-flex;
      @include desktop {
        max-width: 202px;
      }
      &:nth-child(n+2) {
        @include desktop {
          margin-left: 10px;
        }
        @include noDesktop {
          margin-top: 10px;
        }
      }
      &__inner {
        width: 100%;
        display: flex;
        @include desktop {
          align-items: center;
          flex-direction: column;
          justify-content: center;
        }
        @include noDesktop {
          align-items: center;
          justify-content: space-between;
        }
      }
      &__title {
        color: #808080;
        font-weight: 500;
        font-size: 16px;
        line-height: 110%;
      }
      &__value {
        color: $brand_color;
        font-weight: 500;
        font-size: 25px;
        line-height: 110%;
        @include desktop {
          margin-top: 27px;
        }
      }
    }
  }
}