@import "./src/assets/styles/basic/variables";

.bond.page {
  .bond--data {
    width: 100%;
    max-width: 445px;
    min-height: 1px;
    padding: 89px 61px 88px;
    .data {
      &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:nth-child(n+2) {
          margin-top: 33px;
        }
        &.isDivided {
          margin-top: 24px;
          padding-top: 24px;
          border-top: 1px solid #FFFFFF;
        }
      }
      &__label {
        flex: 1;
        color: #808080;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
      }
      &__value {
        margin-left: 15px;
        color: $brand_color;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}