@import "./src/assets/styles/basic/variables";

.header__token__btn {
  display: inline-block;
  cursor: pointer;
  .btn__label {
    width: 126px;
    height: 40px;
    display: inline-flex;
    color: $brand_color;
    text-align: center;
    border-radius: 20px;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid $brand_color;
    font: 400 14px/40px $basic_font_family;
    &::before {
      width: 20px;
      height: 20px;
      display: inline-block;
      margin: 0 22px 0 12px;
      content: 'i';
      border-radius: 50%;
      font: 500 14px/20px $basic_font_family;
      border: 1px solid $brand_color;
    }
  }
}
.header__side__btn__popper {
  width: 100%;
  max-width: 350px;
  margin-top: 57px;
  z-index: 10;
  .card.main {
    width: 100%;
    padding: 24px 28px;
  }
  .buy--link {
    width: 100%;
    height: 40px;
    display: inline-flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #5A5A5C;
    border: 1px solid #e5e4e4;
    border-radius: 20px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    &:hover {
      color: $brand_color;
      border-color: $brand_color;
    }
  }
}