@import "./src/assets/styles/basic/variables";

.dashboard {
  &.page {
    width: 100%;
  }
  .dashboard--cards {
    .dashboard__card {
      &__wrapper {
        max-width: 445px;
        overflow: hidden;
        border-radius: 20px;
        background: #F2F3F7;
        box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 40px rgba(201, 208, 225, 0.7);
        @include desktop {
          margin-bottom: 30px;
        }
        @include noDesktop {
          margin-bottom: 10px;
        }
        &.welcome {
          .dashboard__card__inner {
            .card {
              &__title {
                color: $brand_color;
                font: 500 30px/34px $basic_font_family;
              }
              &__value {
                color: #808080;
                font: 400 12px/1.7 $basic_font_family;
                @include desktop {
                  margin-top: 51px;
                }
                @include noDesktop {
                  margin-top: 28px;
                }
              }
            }
          }
        }

        &.big {
          .dashboard__card__inner {
            align-items: center;
            .card {
              &__title {
                color: #808080;
                font: 500 20px/1.1 $basic_font_family;
              }
              &__value {
                color: $brand_color;
                font: 500 30px/1.1 $basic_font_family;
                @include desktop {
                  margin-top: 33px;
                }
                @include noDesktop {
                  margin-top: 12px;
                }
              }
            }
          }
        }

        &:not(.welcome):not(.big) {
          .dashboard__card__inner {
            align-items: center;

            .card {
              &__title {
                color: #808080;
                font: 500 16px/1.1 $basic_font_family;
              }
              &__value {
                margin-top: 25px;
                color: $brand_color;
                font: 500 25px/1.1 $basic_font_family;
                @include desktop {
                  margin-top: 25px;
                }
                @include noDesktop {
                  margin-top: 10px;
                }
              }
            }
          }
        }

        &:nth-child(even) {
          @include desktop {
            margin-left: 15px;
          }
        }
      }

      &__inner {
        height: 100%;
        display: flex;
        position: relative;
        justify-content: center;
        flex-direction: column;
        z-index: 2;
        @include desktop {
          padding: 38px 53px;
        }
        @include noDesktop {
          padding: 24px 24px;
        }
      }
    }
  }
}