@import "./src/assets/styles/basic/variables";

.stake.page {
  .header__cards__grid {
    align-items: stretch;
    .card {
      @include desktop {
        max-width: 445px;
      }
      @include noDesktop {
        max-width: 49%;
      }
      &.welcome {
        @include noDesktop {
          //margin-bottom: 10px;
        }
      }
    }
  }
  .stake {
    &__container {
      @include desktop {
        margin-top: 30px;
      }
      @include noDesktop {
        margin-top: 16px;
      }
    }
    &__metrics {
      @include noDesktop {
        align-items: flex-start;
        flex-direction: column;
      }
      .metrics {
        &__card {
          flex: 1;
          width: 100%;
          max-width: 317px;
          display: inline-flex;
          padding-top: 10px;
          padding-bottom: 10px;
          &:nth-child(2) {
            @include desktop {
              border-left: 1px solid #FFFFFF;
              border-right: 1px solid #FFFFFF;
            }
          }
          &__inner {
            width: 100%;
            display: flex;
            flex-direction: column;
            @include desktop {
              align-items: center;
            }
          }
          &__title {
            color: #808080;
            font: 500 16px/1.1 $basic_font_family;
          }
          &__value {
            color: $brand_color;
            font: 500 25px/1.1 $basic_font_family;
            @include desktop {
              margin-top: 28px;
            }
            @include noDesktop {
              margin-top: 10px;
            }
          }
        }
      }
    }
    &__additional {
      @include desktop {
        margin-top: 30px;
      }
      @include noDesktop {
        margin-top: 10px;
        flex-direction: column-reverse;
      }
      .additional__card {
        @include desktop {
          max-width: 444px;
        }
        @include noDesktop {
          max-width: 100%;
        }
        &:first-child {
          @include noDesktop {
            margin-top: 10px;
          }
        }
        &:nth-child(n+2) {
          width: 100%;
          overflow: hidden;
          @include desktop {
            margin-left: 30px;
            padding-bottom: 40px;
          }
          @include noDesktop {
            padding-bottom: 24px;
          }
        }
      }
    }
    &__actions {
      display: flex;
      align-items: center;
      justify-content: center;
      &__btn {
        width: 50%;
        height: 64px;
        padding: 23px 0;
        color: #C5C6CF;
        text-align: center;
        font: 400 16px/18px $basic_font_family;
        background: #F2F3F7;
        box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.4), 3px 3px 10px rgba(201, 208, 225, 0.4);
        cursor: pointer;
        &:nth-child(1) {
        }
        &:nth-child(3) {
          border-top-right-radius: 20px;
        }
        &:hover,
        &.active {
          color: $brand_color;
          background: #F2F3F7;
          box-shadow: inset -3px -3px 10px rgba(255, 255, 255, 0.4), inset 3px 3px 10px rgba(201, 208, 225, 0.4);
        }
      }
    }
    &__wallet {
      display: flex;
      margin-top: 76px;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      &__btn {
        width: 160px;
        height: 42px;
        display: inline-flex;
        border-radius: 20px;
        align-items: center;
        box-sizing: border-box;
        justify-content: center;
        font: 400 14px/1 $basic_font_family;
      }
      &__description {
        width: 100%;
        margin-top: 32px;
        text-align: center;
        color: #808080;
        font: 400 10px/1.36 $basic_font_family;
      }
    }
    &__user__data {
      width: 100%;
      @include desktop {
        padding: 91px 54px 25px;
      }
      @include noDesktop {
        padding: 24px 24px;
      }
      .row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:nth-child(n+2) {
          margin-top: 33px;
        }
        &.divide {
          &--top {
            padding-top: 24px;
            margin-top: 24px;
            border-top: 1px solid #FFFFFF;
          }
        }
        &__label {
          flex: 1;
          color: #808080;
          font: 400 12px/14px $basic_font_family;
        }
        &__value {
          margin-left: 15px;
          color: $brand_color;
          font: 400 12px/14px $basic_font_family;
        }
      }
    }
    &__form {
      width: 100%;
      @include desktop {
        margin-top: 48px;
        padding: 0 56px;
      }
      @include noDesktop {
        margin-top: 24px;
        padding: 0 24px;
      }
      .field {
        .input__wrapper {
          width: 100%;
          outline: none;
          border-radius: 10px;
          color: #808080;
          border: 1px solid;
          border-image-source: linear-gradient(282.84deg, #FFFFFF 6.1%, #E4E3E3 92.41%);
          background: #F2F3F7;
          font: 400 16px/20px $basic_font_family;
          box-shadow: inset -3px -3px 10px rgba(255, 255, 255, 0.7), inset 3px 3px 10px rgba(201, 208, 225, 0.5);
          .input {
            padding-left: 40px;
            &__btn {
              color: #5C5A5A;
              font: 400 14px/1.7 $basic_font_family;
              cursor: pointer;
            }
          }
          fieldset {
            display: none;
          }
        }
        &__action {
          width: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          @include desktop {
            margin-top: 56px;
          }
          @include noDesktop {
            margin-top: 32px;
          }
          &__btn {
            width: 160px;
            height: 41px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      &__slider {
        &__wrap {
          margin-top: 44px;
          .slider {
            height: 57px;
            margin-bottom: 0;
            padding: 0;
          }
          .rail {
            top: -1px;
            width: 100%;
            height: 5px;
            opacity: 1;
            border-radius: 20px;
            background: #F2F3F7;
            box-shadow: inset -3px -3px 10px rgba(255, 255, 255, 0.7), inset 3px 3px 10px rgba(201, 208, 225, 0.5);
          }
          .track {
            top: -1px;
            height: 5px;
            border-radius: 20px;
            background: #AD00FE;
            box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 40px rgba(201, 208, 225, 0.7);
          }
          .thumb {
            top: 4px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: #AD00FE;
            transform: translateY(calc(-50% + 2px));
          }
          .mark {
            display: none;
          }
          .mark__label {
            color: #808080;
            font: 400 12px/1.7 $basic_font_family;
          }
        }
      }
      &__description {
        text-align: center;
        color: #808080;
        font: 400 10px/1.36 $basic_font_family;
        @include desktop {
          margin-top: 50px;
        }
        @include noDesktop {
          margin-top: 24px;
        }
      }
    }
  }
}