@import "./src/assets/styles/basic/variables";

.fund.page {
  width: 100%;
  .main {
    .header {
      .title {
        color: var(--card_primary_color);
        font: 700 24px/29px $basic_font_family;
      }
      .sbt {
        margin-top: 3px;
        color: var(--card_primary_color);
        font: 400 24px/29px $basic_font_family;
      }
    }
    .container {
      margin-top: 45px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .data {
        width: 100%;
        margin-top: -8px;
        margin-left: 7px;
      }
    }
  }
}