@import "./src/assets/styles/basic/variables";

.btn--wrap {
  width: 100%;
  height: 40px;
  display: inline-flex;
  margin-top: 16px;
  align-items: center;
  justify-content: center;
  border: 1px solid #e5e4e4;
  text-decoration: none;
  border-radius: 20px;
  cursor: pointer;
  
  &:hover,
  &.active {
    border-color: $brand_color;

    .btn--wrap__label {
      color: $brand_color;
    }
  }
  
  &__label {
    text-align: center;
    color: #5A5A5C;
    font: 400 16px/20px $basic_font_family;
  }
}