@import "./src/assets/styles/basic/variables";

.bond.page {
  .bond {
    &__header {
      display: flex;
      padding: 39px 54px;
      align-items: center;
      justify-content: space-between;
    }
    &__name {
      color: $brand_color;
      font: 500 30px/34px $basic_font_family;
    }
  }
  .back__link {
    width: 37px;
    height: 24px;
    display: inline-block;
    text-decoration: none;
    background: url(../../../../assets/images/bond/arrow-right.svg) 50% no-repeat;
    &:hover {
      opacity: .7;
    }
  }
}