@import "./src/assets/styles/basic/variables";

.bond.modal {
  .bond__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .settings {
      &__btn {
      
      }
    }
    
    .title {
      justify-content: center;
      align-items: center;
      text-align: center;
      display: flex;
      flex-direction: row;
      
      .ohm-logo-bg {
        height: 40px !important;
        width: 40px !important;
        padding: 8px !important;
        margin-left: 0;
      }
      
      .bond__name {
        margin-left: 32px;
        color: var(--card_primary_color);
        font: 700 24px/29px $basic_font_family;
      }
    }
    
    .close__btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
}