@import "./src/assets/styles/basic/variables";

.bond.page {
  .bond {
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include desktop {
        padding: 39px 54px;
      }
      @include noDesktop {
        padding: 24px 24px;
      }
    }
    &__name {
      color: $brand_color;
      font-weight: 500;
      line-height: 34px;
      @include desktop {
        font-size: 30px;
      }
      @include noDesktop {
        font-size: 24px;
      }
    }
  }
  .back__link {
    width: 37px;
    height: 24px;
    display: inline-block;
    text-decoration: none;
    background: url(../../../../assets/images/bond/arrow-right.svg) 50% no-repeat;
    &:hover {
      opacity: .7;
    }
    @include noDesktop {
      background-size: 85%;
    }
  }
}