@import "./src/assets/styles/basic/variables";

.header {
  max-width: #{$content_max_width};
  
  .toolbar {
    width: 100%;
    margin: auto;
    padding: 0 8px;
    align-items: center;

    .btn--toggle--sidebar {
      width: 24px;
      height: 24px;
      display: inline-block;
      margin-left: 34px;
      margin-right: 28px;
      background: red 50% no-repeat;
      background-size: contain;
      cursor: pointer;
    }
    
    &__btn {
      display: flex;
      padding: 9px 20px;
      border-radius: 10px;
      align-items: center;
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 0 10px rgba(44, 39, 109, 0.1);
      cursor: pointer;
    }
    
    .toolbar-btns-wrap {
      flex: 1;
      display: flex;
      align-items: center;
      
      @media (min-width: 960px) {
        justify-content: flex-end;
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .header {
    .toolbar {
      .btn--toggle--sidebar {
        display: none;
      }
    }
  }
}