@import "./src/assets/styles/basic/variables";

.header {
  max-width: #{$content_max_width};
  .toolbar {
    width: 100%;
    margin: auto;
    padding: 0 8px;
    align-items: center;
    .btn--toggle--sidebar {
      @include desktop {
        display: none;
      }
      @include noDesktop {
        width: 36px;
        height: 36px;
        min-width: 36px;
        display: inline-block;
        border-radius: 50%;
        background: $brand_color url(./../../../assets/images/common/header/toggle-sideber-btn.svg) 50% no-repeat;
        background-size: 70%;
        cursor: pointer;
      }
    }
    &__btn {
      display: flex;
      padding: 9px 20px;
      border-radius: 10px;
      align-items: center;
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 0 10px rgba(44, 39, 109, 0.1);
      cursor: pointer;
    }
    .toolbar-btns-wrap {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  &__appbar {
    width: 100%;
    @include desktop {
      padding: 40px 0 20px 0;
    }
    @include noDesktop {
      padding: 20px 0 10px 0;
    }
  }
}