@import "./src/assets/styles/basic/variables";

.sidebar {
  height: 100vh;
  min-width: 280px;
  display: flex;
  padding-bottom: 47px;
  overflow-y: auto;
  flex-direction: column;
  &__drawer__paper {
    box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 40px rgba(201, 208, 225, .7) !important;
    z-index: 9!important;
  }
  &--logo {
    width: 150px;
    height: 50px;
    display: inline-block;
    text-decoration: none;
    color: $brand_color;
    text-transform: uppercase;
    font: 500 20px/23px $basic_font_family;
    background: url(../../../assets/images/common/sidebar/logo.svg) 50% no-repeat;
    background-size: contain;
    z-index: 9;
  }
  &--header {
    display: flex;
    margin: 37px 0 0 28px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    .wallet--link {
      margin-top: 10px;
      color: #5A5A5A;
      font: 400 12px/14px $basic_font_family;
      text-decoration: none;
    }
  }
  &__menu {
    flex: 1;
    display: flex;
    margin-top: 118px;
    margin-left: 24px;
    align-items: flex-start;
    flex-direction: column;
    .menu__item {
      &:nth-child(n+2) {
        margin-top: 32px;
      }
      &__link {
        align-items: center;
        display: inline-flex;
        text-decoration: none;
        &:hover,
        &.active {
          &::before {
            background-color: $brand_color;
          }
          .menu__item__label {
            color: $brand_color;
          }
        }
        &::before {
          width: 27px;
          height: 27px;
          content: '';
          mask-size: initial;
          mask-repeat: no-repeat;
          mask-position: 50%;
          background-color: #5A5A5C;
        }
        &.dashboard {
          &::before {
            mask-image: url(../../../assets/images/common/sidebar/dashboard-icon.svg);
          }
        }
        &.stake {
          &::before {
            mask-image: url(../../../assets/images/common/sidebar/stake-icon.svg);
          }
        }
        &.mints {
          &::before {
            mask-image: url(../../../assets/images/common/sidebar/mint-icon.svg);
          }
        }
        &.docs {
          &::before {
            mask-image: url(../../../assets/images/common/sidebar/docs-icon.svg);
          }
        }
      }
      &__label {
        margin-left: 15px;
        color: #5A5A5C;
        text-transform: capitalize;
        font: 400 14px/16px $basic_font_family;
      }
      &__with__submenu {
        display: flex;
        flex-direction: column;
        .mint--discounts__toggler {
          width: 210px;
          height: 40px;
          display: inline-flex;
          margin-top: 32px;
          padding-left: 36px;
          padding-right: 15px;
          font-weight: 400;
          font-size: 14px;
          color: #5A5A5C;
          cursor: pointer;
          align-items: center;
          border: 1px solid #DEDEDE;
          justify-content: space-between;
          border-radius: 20px;
          &::after {
            width: 22px;
            height: 16px;
            margin-top: 2px;
            content: '';
            background-color: #5A5A5C;
            transition: transform .15s ease-in-out;
            mask: url(../../../assets/images/common/header/network-arrow.svg) 50% no-repeat;
            mask-size: 100%;
          }
          &.hidden {
            &::after {
              transform: rotate(180deg);
            }
          }
        }
        .submenu {
          display: flex;
          margin-top: 32px;
          margin-left: 49px;
          margin-right: 18px;
          overflow: hidden;
          flex-direction: column;
          &.hidden {
            display: none;
          }
          &__item__link {
            text-transform: uppercase;
            text-decoration: none;
            color: #808080;
            font: 400 12px/14px $basic_font_family;
            &:hover,
            &.active {
              color: $brand_color;
            }
            &:nth-child(n+2) {
              margin-top: 19px;
            }
            .bond {
              display: flex;
              align-items: center;
              justify-content: space-between;
            }
          }
        }
      }
    }
  }
}
