@import "./src/assets/styles/basic/variables";

.mints.page {
  width: 100%;
  @media screen and (max-width: 1240px) {
    width: 100%;
  }
  .mints {
    &__wrapper {
      width: 100%;
    }
    &__main--cards {
      .card {
        width: 100%;
        max-width: 445px;
        margin-bottom: 30px;
        &__inner {
          width: 100%;
        }
        &.card--custom {
          &.info {
            padding: 49px 75px 41px;
            .card {
              &__inner {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
              }
              &__icon {
                width: 20px;
                height: 20px;
                display: inline-flex;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                border: 1px solid $brand_color;
                &::before {
                  display: inline-block;
                  content: 'i';
                  color: $brand_color;
                  font: 500 14px/20px $basic_font_family;
                }
              }
              &__text {
                width: 100%;
                margin-top: 58px;
                text-align: center;
                color: #808080;
                font: 400 12px/1.7 $basic_font_family;
              }
            }
          }
        }
      }
    }
    &__table {
      width: 100%;
      display: block;
      &__wrap {
        padding: 40px 56px 64px;
      }
      &__title {
        color: $brand_color;
        font: 500 14px/1.7 $basic_font_family;
      }
      &__thead {
        display: block;
        .mints__table__row {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
        .mints__table__col {
          display: block;
          padding: 0;
          border: 0;
          &.mint {
            margin-left: 135px;
          }
          &.price {
            margin-left: 158px;
          }
          &.ROI {
            margin-left: 61px;
          }
          &.purchased {
            margin-left: 72px;
          }
        }
      }
      &__tbody {
        display: block;
        margin-top: 30px;
      }
    }
  }
}