@import "./src/assets/styles/basic/variables";

.mints.page {
  .bond {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid #FFFFFF;
    &__col {
      padding: 24px 0 24px 0;
      border: 0;
      &:not(:last-child) {
        padding-right: 32px;
      }
      &.mint {
        @media (min-width: 1200px) {
          width: 256px;
        }
        @media (max-width: 1199px) {
          width: 226px;
        }
      }
      &.price {
        width: 119px;
      }
      &.ROI {
        width: 97px;
      }
      &.purchased {
        width: 163px;
      }
      &.action {
        width: calc(100% - 635px);
        text-align: right;
      }
    }
    &__logo__wrap {
      min-width: 72px;
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
    }
    &__mint {
      display: inline-flex;
      margin-left: 45px;
      flex-direction: column;
    }
    &__text {
      opacity: .7;
      color: #797A7C;
      font: 400 16px/16px $basic_font_family;
    }
    &__contract__link {
      margin-top: 16px;
      color: #5A5A5C;
      text-decoration: none;
      font: 400 16px/16px $basic_font_family;
    }
    &__price {
      text-align: right;
    }
    &__ROI {
      text-align: right;
    }
    &__purchased {
      text-align: right;
    }
    &__link {
      width: 128px;
      height: 40px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
}